body {
  margin: 0;
  padding-left: 100px;
  padding-top: 15px;
  background-color: white; }

.jumbotron {
  background-image: url("../img/0002.jpg"); }

.navbar-custom_vert {
  display: none; }

.navbar-custom_hor {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .navbar-custom_hor .menu_section {
    transform: translateX(-15px); }
  .navbar-custom_hor ul {
    list-style: none; }
    .navbar-custom_hor ul li {
      transition-property: transform, visibility, opacity;
      transition-timing-function: ease-in; }
      .navbar-custom_hor ul li .menu_1_txt {
        color: white;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%); }
      .navbar-custom_hor ul li .menu_2_txt {
        color: white;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%); }
      .navbar-custom_hor ul li .menu_3_txt {
        color: white;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%); }
      .navbar-custom_hor ul li .menu_4_txt {
        color: white;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%); }
      .navbar-custom_hor ul li .menu_5_txt {
        color: white;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%); }
      .navbar-custom_hor ul li:hover .menu_1_txt {
        transition-duration: 1s;
        transform: translateX(0px);
        visibility: visible;
        opacity: 1; }
        .navbar-custom_hor ul li:hover .menu_2_txt {
          transition-duration: 1s;
          transform: translateX(0px);
          visibility: visible;
          opacity: 1; }
        .navbar-custom_hor ul li:hover .menu_3_txt {
          transition-duration: 1s;
          transform: translateX(0px);
          visibility: visible;
          opacity: 1; }
        .navbar-custom_hor ul li:hover .menu_4_txt {
          transition-duration: 1s;
          transform: translateX(0px);
          visibility: visible;
          opacity: 1; }
        .navbar-custom_hor ul li:hover .menu_5_txt {
          transition-duration: 1s;
          transform: translateX(0px);
          visibility: visible;
          opacity: 1; }

.img-send {
  height: 20px;
  width: 20px; }

@media screen and (max-width: 800px) {
  .navbar-custom_vert {
    display: flex; }

  .navbar-custom_hor {
    display: none; }

  body {
    padding-left: 0px;
    padding-top: 0px; } }
